<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com._520it.com.base.mapper.ProductSkuPropertyMapper" >
  <resultMap id="BaseResultMap" type="com._520it.com.base.domain.ProductSkuProperty" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="product_sku_id" property="productSkuId" jdbcType="BIGINT" />
    <result column="value" property="value" jdbcType="VARCHAR" />
    <result column="image" property="image" jdbcType="VARCHAR" />

    <association property="skuProperty" column="sku_property_id" javaType="com._520it.com.base.domain.SkuProperty"
                 select="com._520it.com.base.mapper.SkuPropertyMapper.selectByPrimaryKey"/>
  </resultMap>
  <delete id="deleteByPrimaryKey" >
    delete from product_sku_property
    where id = #{id}
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="id" >
    insert into product_sku_property (product_sku_id, sku_property_id, value, 
      image)
    values (#{productSkuId,jdbcType=BIGINT}, #{skuProperty.id,jdbcType=BIGINT}, #{value,jdbcType=VARCHAR}, 
      #{image,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" >
    update product_sku_property
    set product_sku_id = #{productSkuId,jdbcType=BIGINT},
      sku_property_id = #{skuProperty.id,jdbcType=BIGINT},
      value = #{value,jdbcType=VARCHAR},
      image = #{image,jdbcType=VARCHAR}
    where id = #{id}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap">
    select id, product_sku_id, sku_property_id, value, image
    from product_sku_property
    where id = #{id}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, product_sku_id, sku_property_id, value, image
    from product_sku_property
  </select>
</mapper>