<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com._520it.com.base.mapper.ProductDescMapper" >
  <resultMap id="BaseResultMap" type="com._520it.com.base.domain.ProductDesc" >
    <id column="id" property="id" />
    <result column="details" property="details" />
    <result column="product_id" property="productId" />
  </resultMap>

  <delete id="deleteByPrimaryKey" >
    delete from product_desc
    where id = #{id}
  </delete>

  <insert id="insert"  useGeneratedKeys="true" keyProperty="id" >
    insert into product_desc (product_id, details)
    values (#{productId}, #{details})
  </insert>

  <update id="updateByPrimaryKey" >
    update product_desc
    set product_id = #{productId},
      details = #{details}
    where id = #{id}
  </update>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" >
    select id, product_id, details
    from product_desc
    where product_id = #{productId}
  </select>

  <select id="selectAll" resultMap="BaseResultMap" >
    select id, product_id, details
    from product_desc
  </select>

</mapper>