<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eloan.business.mapper.AccountFlowMapper" >
  <insert id="insert" parameterType="AccountFlow" useGeneratedKeys="true" keyProperty="id" >
    insert into accountflow 
    	(accountActionType, amount, note, balance, freezed, actionTime,  account_id)
    values 
    	(#{accountActionType}, #{amount}, #{note}, #{balance}, #{freezed}, #{actionTime}, #{account.id})
  </insert>
</mapper>