<beans xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans   http://www.springframework.org/schema/beans/spring-beans.xsd   http://www.springframework.org/schema/context   http://www.springframework.org/schema/context/spring-context.xsd   http://www.springframework.org/schema/tx   http://www.springframework.org/schema/tx/spring-tx.xsd   http://www.springframework.org/schema/aop   http://www.springframework.org/schema/aop/spring-aop.xsd">

	<bean id="employeeAction" class="com.company.pss.mvc.EmployeeAction" scope="prototype">
		<property name="employeeService" ref="employeeService"/>
		<property name="departmentService" ref="departmentService"/>
		<property name="roleService" ref="roleService"/>
	</bean>
	<bean id="departmentAction" class="com.company.pss.mvc.DepartmentAction" scope="prototype">
		<property name="departmentService" ref="departmentService"/>
	</bean>
	<bean id="permissionAction" class="com.company.pss.mvc.PermissionAction" scope="prototype">
		<property name="permissionService" ref="permissionService"/>
	</bean>
	<bean id="roleAction" class="com.company.pss.mvc.RoleAction" scope="prototype">
		<property name="roleService" ref="roleService"/>
		<property name="permissionService" ref="permissionService"/>
		<property name="systemMenuService" ref="systemMenuService"/>
	</bean>
	<bean id="loginAction" class="com.company.pss.mvc.LoginAction" scope="prototype">
		<property name="employeeService" ref="employeeService"/>
	</bean>
	<bean id="systemMenuAction" class="com.company.pss.mvc.SystemMenuAction" scope="prototype">
		<property name="systemMenuService" ref="systemMenuService"/>
	</bean>
	<bean id="brandAction" class="com.company.pss.mvc.BrandAction" scope="prototype">
		<property name="brandService" ref="brandService"/>
	</bean>
	<bean id="supplierAction" class="com.company.pss.mvc.SupplierAction" scope="prototype">
		<property name="supplierService" ref="supplierService"/>
	</bean>
	<bean id="productAction" class="com.company.pss.mvc.ProductAction" scope="prototype">
		<property name="productService" ref="productService"/>
		<property name="brandService" ref="brandService"/>
	</bean>
	<bean id="orderBillAction" class="com.company.pss.mvc.OrderBillAction" scope="prototype">
		<property name="orderBillService" ref="orderBillService"/>
		<property name="supplierService" ref="supplierService"/>
	</bean>
	<bean id="depotAction" class="com.company.pss.mvc.DepotAction" scope="prototype">
		<property name="depotService" ref="depotService"/>
	</bean>
	<bean id="stockIncomeBillAction" class="com.company.pss.mvc.StockIncomeBillAction" scope="prototype">
		<property name="depotService" ref="depotService"/>
		<property name="stockIncomeBillService" ref="stockIncomeBillService"/>
	</bean>
	<bean id="stockIncomeBillItemAction" class="com.company.pss.mvc.StockIncomeBillItemAction" scope="prototype">
		<property name="stockIncomeBillItemService" ref="stockIncomeBillItemService"/>
	</bean>
	<bean id="clientAction" class="com.company.pss.mvc.ClientAction" scope="prototype">
		<property name="clientService" ref="clientService"/>
	</bean>
	<bean id="stockOutcomeBillAction" class="com.company.pss.mvc.StockOutcomeBillAction" scope="prototype">
		<property name="stockOutcomeBillService" ref="stockOutcomeBillService"/>
		<property name="depotService" ref="depotService"/>
		<property name="clientService" ref="clientService"/>
	</bean>
	<bean id="stockOutcomeBillItemAction" class="com.company.pss.mvc.StockOutcomeBillItemAction" scope="prototype">
		<property name="stockOutcomeBillItemService" ref="stockOutcomeBillItemService"/>
	</bean>
	<bean id="productStockAction" class="com.company.pss.mvc.ProductStockAction" scope="prototype">
		<property name="productStockService" ref="productStockService"/>
		<property name="depotService" ref="depotService"/>
		<property name="brandService" ref="brandService"/>
	</bean>
	<bean id="chartAction" class="com.company.pss.mvc.ChartAction" scope="prototype">
		<property name="chartService" ref="chartService"/>
		<property name="supplierService" ref="supplierService"/>
		<property name="brandService" ref="brandService"/>
		<property name="clientService" ref="clientService"/>
	</bean>
<bean id="saleAccountAction" class="com.company.pss.mvc.SaleAccountAction" scope="prototype">
	<property name="saleAccountService" ref="saleAccountService"/>
</bean></beans>