<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	beans:javabean
		spring是一个放java对象的容器，把放在spring中的对象称之为javabean
 -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd">

	 <bean id="employeeService" class="com.company.ssh.service.impl.EmployeeServiceImpl">
	 	<property name="employeeDao" ref="employeeDao"/>
	 </bean>
	 <bean id="departmentService" class="com.company.ssh.service.impl.DepartmentServiceImpl">
	 	<property name="departmentDao" ref="departmentDao"/>
	 </bean>
	 <bean id="permissionService" class="com.company.ssh.service.impl.PermissionServiceImpl">
	 	<property name="permissionDao" ref="permissionDao"/>
	 </bean>
	 <bean id="roleService" class="com.company.ssh.service.impl.RoleServiceImpl">
	 	<property name="roleDao" ref="roleDao"/>
	 </bean>
</beans>
