<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	beans:javabean
		spring是一个放java对象的容器，把放在spring中的对象称之为javabean
 -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="employeeDao" class="com.company.ssh.dao.impl.EmployeeDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="departmentDao" class="com.company.ssh.dao.impl.DepartmentDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="permissionDao" class="com.company.ssh.dao.impl.PermissionDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="roleDao" class="com.company.ssh.dao.impl.RoleDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
</beans>
